.login-image-section {
    position: fixed;
    min-width: 75vw;
    max-width: 75vw;
    min-height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/img/login-image-section.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0;
}

.login-form-section {
    position: relative;
    float: right;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}

.login-form-section small {
    color: rgb(206, 202, 202) !important;
}

.login-form-section input {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
}

.login-form-section input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1;
    /* Firefox */
}

.login-form-section input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: whitesmoke;
}

.login-form-section input ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: whitesmoke;
}

.login-form-section input:focus::placeholder {
    color: transparent;
}

#custom-register {
    color: whitesmoke !important;
    background-color: black !important;
    border-color: whitesmoke !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 whitesmoke;
}

#custom-register:hover {
    box-shadow: inset 400px 0 0 0 whitesmoke;
    color: black !important;
    border-color: black !important;
}

.login-form-section #custom {
    color: whitesmoke !important;
    background-color: black !important;
    border-color: whitesmoke !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 whitesmoke;
}

.login-form-section #custom:hover {
    box-shadow: inset 400px 0 0 0 whitesmoke;
    color: black !important;
    border-color: black !important;
}

.login-form-section #open-register {
    color: whitesmoke !important;
    background-color: black !important;
    border-color: whitesmoke !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 whitesmoke;
}

.login-form-section #open-register:hover {
    box-shadow: inset 400px 0 0 0 whitesmoke;
    color: black !important;
    border-color: black !important;
}

.login-form-section #custom-inverted {
    color: black !important;
    background-color: whitesmoke !important;
    border-color: black !important;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 black;
}

.login-form-section #custom-inverted:hover {
    box-shadow: inset 400px 0 0 0 black;
    color: whitesmoke !important;
    border-color: white !important;
}

.landingContainer {
    position: relative;
    width: 75vw;
    height: 85vh;
    margin: 5vh auto 2vh auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: whitesmoke;
}

.pagination {
    margin: 0 auto;
}

body {
    background-image: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('/img/landing-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.usersContainerHeader {
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 5px;
}

.usersContainer {
    color: whitesmoke;
}

.usersContainer>table {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    width: 75vw;
    margin: 5vh auto 2vh auto;
    border-radius: 5px;
}

.usersContainer>table tr:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(197, 197, 197);
    font-weight: 700;
}

body nav {
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}

body nav a {
    color: whitesmoke;
}

body nav a:hover {
    color: rgb(163, 162, 162);
}

body nav span {
    background: url('/img/bars-solid.svg') !important;
}

body nav button {
    outline: none !important;
}

.sort-solid {
    display: inline-block;
    width: 0.75em;
    height: 1.32em;
    vertical-align: middle;
    content: "";
    background: url('/img/sort-solid.svg') !important;
}

.sort-up-solid {
    background: url('/img/sort-up-solid.svg') !important;
}

.sort-down-solid {
    background: url('/img/sort-down-solid.svg') !important;
}

.popupWindow {
    width: 400px;
    height: 600px;
    border-radius: 5px;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 101;
    position: absolute;
    /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.overlay {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    border-color: whitesmoke;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}