<!-- Page Content -->

<div class="landingContainer">
    <div ng-repeat="mediatype in mediatypes">
        <h1>{{mediatype.name | capitalize}}</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    {{mediatype.media[0].name | capitalize}}
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
                <div class="col-sm">
                    One of three columns
                </div>
            </div>
        </div>
    </div>
</div>