<!-- Page Content -->

<div class="landingContainer container-fluid">
    <div ng-repeat="mediatype in mediatypes">
        <div class="row">
            <div ng-repeat="media in mediatype.media" class="media-grid col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="media-container">
                    <img class="info" src="/img/info-square-solid-yellow.svg" style="height:1.5em; width:1.5em; position:absolute; left:4%; top:5%; z-index:2;">
                    <div class="tooltip">{{media.short_description}}</div>
                    <div class="media-container-inner-cover" style="background-image: url('{{STORAGE}}/{{media.cover[0].folder}}/{{media.cover[0].created_at | datetimeParse}}_{{media.cover[0].name}}');">

                    </div>
                    <div class="media-container-inner-details">
                        {{media.name | capitalize}}
                        <div style=" margin: auto; position: relative; top: 10%; font-size: 14px;">
                            <p>
                                {{media.year}}
                                <br> <img src="/img/imdb_logo.png" style="height:1em; width:1.5em; padding-bottom:2.5%;"> <span style="color:rgb(241, 219, 16); font-weight:600;">{{media.imdb_rating}}</span>
                                <br> <img src="/img/comments-alt.svg" style="height: 1em; filter:invert(100%)"> 0
                                <rating-stars ratings="media.ratingCount" average-rating="media.ratingAverage"></rating-stars>
                            </p>
                        </div>
                    </div>
                    <div class="media-container-inner-download">
                        <a href ng-href="/media/{{media.name | removeWhitespace}}" class="landing-download-button">Download</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <h1>{{mediatype.name | capitalize}}</h1>
</div>