<!-- Detailed media info modal -->
<div id="popupWindow-media-info" class="popupWindow media-info">
    <div style="text-align: center; margin-top:2%;">
        <h3>Detailed media info</h3>
    </div>
    <div ng-if="!mediaDetails" style="text-align: center; opacity: 0;">
        <h4 style="color:whitesmoke;"><b>Dummy text</b></h4>
    </div>
    <div ng-if="mediaDetails" style="text-align: center;">
        <h4 ng-bind="userDetails.username" style="color:whitesmoke;"><b></b></h4>
    </div>
    <div ng-if="!mediaDetails" style="margin:15%;">
        <p>ID:</p>
        <p>Name:</p>
        <p>Category:</p>
        <p>Media Type:</p>
        <p>Creation date:</p>
    </div>
    <div ng-if="mediaDetails" style="margin:15%;">
        <p>ID: <b>{{mediaDetails.id}}</b></p>
        <p>Name: <b>{{mediaDetails.name | capitalize}}</b></p>
        <p>Category: <b>{{mediaDetails.category_name | capitalize}}</b></p>
        <p>Media Type: <b>{{mediaDetails.media_type_name | capitalize}}</b></p>
        <p>Creation date: <b>{{mediaDetails.created_at}}</b></p>
        <p>Last update date: <b>{{mediaDetails.updated_at}}</b></p>
        <p>Short description: <b>{{mediaDetails.short_description}}</b></p>
        <p>Description: <b>{{mediaDetails.description}}</b></p>
        <p>IMDB rating: <b>{{mediaDetails.imdb_rating}}</b></p>
        <p>Actors:
            <span ng-repeat="actor in mediaDetails.actors">
                <b>{{actor.name}} </b>
                <b>{{actor.surname}}</b>
                <b ng-if="!$last">, </b>
                <b ng-if="$last">.</b>
        </span>
        </p>
        <p>Files:</p>
        <span ng-repeat="file in mediaDetails.files">
                <div ng-if="file.folder == 'images'"><img src="{{fileImage[file.id]}}" style="width: 200px;height: 130px; border:2px solid black; border-radius:10px; margin-right:30%; margin-top:1%; margin-bottom:1%;" /><b>{{file.name}}</b>
                </div>
        <div ng-if="file.folder != 'images'"><img src="{{noFileImage}}" style="width: 200px;height: 130px; border:2px solid black; border-radius:10px; margin-right:30%; margin-top:1%; margin-bottom:1%;" /><b>{{file.name}}</b></div>
        </span>
        <p>Average Rating: <b>{{calculateAverageRating(mediaDetails.ratings)}}</b></p>
        <p>Ratings Count: <b>{{mediaDetails.ratings.length}}</b></p>
        <p>Trailer:</p>
        <ng-youtube-embed video="mediaDetails.trailer_url" autoplay="false" color="red" disablekb="true">
        </ng-youtube-embed>
    </div>
    <button id="custom-media-info-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 60%;" ng-click="closeMediaDetailsForm()">Close</button>

</div>
<!----------->
<!-- Media edit modal -->
<div id="popupWindow-media-edit" class="popupWindow media-edit">
    <div style="text-align: center; margin-top:2%;">
        <h3>Edit media</h3>
    </div>
    <div ng-if="hasEditFormErrors == true" class="alert alert-danger" role="alert" style="width:80%; margin:15px auto -90px auto; height:100px;">
        <span style="text-align: center; font-size:12px;" ng-repeat="message in EditFormErrorMessages"><div>{{message}}</div></span>
    </div>
    <div ng-if="hasEditFormErrors == false" class="alert alert-danger" role="alert" style="width:80%; margin:15px auto -90px auto; height:100px; opacity: 0">
        <span style="text-align: center; font-size:12px;" ng-repeat="message in EditFormErrorMessages"><div>{{message}}</div></span>
    </div>
    <form style="width:80%; margin-left:10%; margin-right:10%; margin-top:25%; margin-bottom:5%;" ng-enter="edit(name)">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" ng-model="name" aria-describedby="nameHelp" placeholder="Enter name" ng-value="mediatypeDetails.name | capitalize">
        </div>
        <button type="submit" id="custom-media-edit" class="btn btn-primary" style="margin: 25% auto 0 auto; display:block; position: relative; top: 20%; width: 60%;" ng-click="edit(name)">Update</button>
        <button id="custom-media-edit-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 60%;" ng-click="closeMediatypeEditForm()">Close</button>
    </form>
</div>
<!----------->

<!-- Media delete confirmation modal -->
<div id="popupWindow-media-delete" class="popupWindow media-delete">
    <div style="text-align: center; margin-top:5%; margin-bottom: -15%">
        <h3>Are you sure you want to delete?</h3>
    </div>
    <div style="text-align: center; margin-top:20%; margin-bottom: -20%; height: 5%;">
        <h4 style="color:whitesmoke;"><b>{{mediatypeDetails.name | capitalize}}</b></h4>
    </div>
    <button type="submit" id="custom-media-delete" class="btn btn-primary" style="margin: 25% auto 0 auto; display:block; position: relative; top: 20%; width: 60%;" ng-click="delete(mediatypeDetails.id)">Yes</button>
    <button id="custom-media-delete-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 60%;" ng-click="closeMediatypeDeleteForm()">No</button>
</div>

<!----------->

<!-- Media create modal -->
<div id="popupWindow-media-create" class="popupWindow media-create">
    <div style="text-align: center; margin-top:2%;">
        <h3>Create new media type</h3>
    </div>
    <div ng-if="hasCreateFormErrors == true" class="alert alert-danger" role="alert" style="width:80%; margin:15px auto -90px auto; height:100px;">
        <span style="text-align: center; font-size:12px;" ng-repeat="message in CreateFormErrorMessages"><div>{{message}}</div></span>
    </div>
    <div ng-if="hasCreateFormErrors == false" class="alert alert-danger" role="alert" style="width:80%; margin:15px auto -90px auto; height:100px; opacity: 0">
        <span style="text-align: center; font-size:12px;" ng-repeat="message in CreateFormErrorMessages"><div>{{message}}</div></span>
    </div>
    <form style="width:80%; margin-left:10%; margin-right:10%; margin-top:25%; margin-bottom:5%;" ng-enter="create(name_create)">
        <div class="form-group">
            <label for="name_create">Name</label>
            <input type="text" class="form-control" id="name_create" ng-model="name_create" aria-describedby="name_createHelp" placeholder="Enter name">
        </div>
        <button type="submit" id="custom-media-create" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; float:right; width:30%;" ng-click="create(name_create)">Create</button>
        <button id="custom-media-create-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 30%; float:left;" ng-click="closeMediatypeCreateForm()">Close</button>
    </form>
</div>
<!----------->

<!-- Page Content -->
<div class="overlay"></div>
<div class="mediaContainer">
    <div class="mediaContainerHeader">
        <h2>Media list</h2>
    </div>
    <table class="table table-borderless table-hover" style="table-layout: fixed;">
        <div style="width:75%; margin: 1% auto;">
            <button id="custom-media-create-open" class="btn btn-primary" style="font-size:11px; font-weight: 900;">Create new media</button>
            <input type="text" ng-model="search" class="form-control input-res" placeholder="Search for media">
        </div>
        <thead style="text-align: center;">
            <tr>
                <th ng-click="sort('id')" style="width:10%;">Id
                    <span class="sort-solid" ng-show="sortKey=='id'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th ng-click="sort('name')" style="width:30%;">Name
                    <span class="sort-solid" ng-show="sortKey=='name'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th ng-click="sort('category_name')" style="width:25%;">Category
                    <span class="sort-solid" ng-show="sortKey=='category_name'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th ng-click="sort('media_type_name')" style="width:25%;">Media Type
                    <span class="sort-solid" ng-show="sortKey=='media_type_name'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th style="width:10%" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" ng-repeat="med in filterData = (media | filter : search | orderBy:sortKey:reverse) | limitTo:10:10*(page-1) |orderBy:sortKey:reverse">
                <td>{{med.id}}</td>
                <td>{{med.name | capitalize}}</td>
                <td>{{med.category_name | capitalize}}</td>
                <td>{{med.media_type_name | capitalize}}</td>
                <td>
                    <span class="info-square-solid media" ng-click="getMediaDetails(med.id)"></span>
                    <span class="edit-solid media" ng-click="getMediatypeDetails(mediatype.id)"></span>
                    <span class="trash-alt-solid media" ng-click="getMediatypeDetails(mediatype.id)"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul uib-pagination total-items="filterData.length" ng-model="page" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10 max-size="3" boundary-link-numbers="true" rotate="true" force-ellipses="true"></ul>
    </div>
</div>