<div id="successful-alert" class="alert alert-success" role="alert" style="width:40%; margin:auto; height:5.5%; position:absolute; top:0; left:0; right:0; bottom:50%; z-index: 1; display:none">
    <span style="text-align: center; font-size:12px; "><div>{{successMessage}}</div>
        </span>
</div>
<!-- Detailed user info modal -->
<div id="popupWindow-user-info" class="popupWindow user-info">
    <div style="text-align: center; margin-top:2%;">
        <h3>Detailed user info</h3>
    </div>
    <div ng-if="!userDetails" style="text-align: center; opacity: 0;">
        <h4 style="color:whitesmoke;"><b>Dummy text</b></h4>
    </div>
    <div ng-if="userDetails" style="text-align: center;">
        <h4 ng-bind="userDetails.username" style="color:whitesmoke;"><b></b></h4>
    </div>
    <div ng-if="!userDetails" style="margin:15%;">
        <p>ID:</p>
        <p>Role:</p>
        <p>Email: <b>{{userDetails.email}}</b></p>
        <p>Registration date:</p>
        <p>Last info update date:</p>
        <p>Status:</p>
    </div>
    <div ng-if="userDetails" style="margin:15%;">
        <p>ID: <b>{{userDetails.id}}</b></p>
        <p>Role: <b>{{userDetails.role[0].name | capitalize}}</b></p>
        <p>Email: <b>{{userDetails.email}}</b></p>
        <p>Registration date: <b>{{userDetails.created_at}}</b></p>
        <p>Last info update date: <b>{{userDetails.updated_at}}</b></p>
        <p>Status: <b ng-if="userDetails.status == 1" style="color:green;">Online</b>
            <b ng-if="userDetails.status == 0" style="color:red;">Offline</b></p>
    </div>
    <button id="custom-user-info-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 60%;" ng-click="closeUserDetailsForm()">Close</button>

</div>
<!----------->

<!-- User edit modal -->
<div id="popupWindow-user-edit" class="popupWindow user-edit">
    <div style="text-align: center; margin-top:2%;">
        <h3>Edit user</h3>
    </div>
    <div ng-if="hasEditFormErrors == true" class="alert alert-danger" role="alert" style="width:80%; margin:15px auto -90px auto; height:100px;">
        <span style="text-align: center; font-size:12px;" ng-repeat="message in EditFormErrorMessages"><div>{{message}}</div></span>
    </div>
    <div ng-if="hasEditFormErrors == false" class="alert alert-danger" role="alert" style="width:80%; margin:15px auto -90px auto; height:100px; opacity: 0">
        <span style="text-align: center; font-size:12px;" ng-repeat="message in EditFormErrorMessages"><div>{{message}}</div></span>
    </div>
    <form style="width:80%; margin-left:10%; margin-right:10%; margin-top:25%; margin-bottom:5%;" ng-enter="edit(username, email, selectedRole, password)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" ng-model="username" aria-describedby="usernameHelp" placeholder="Enter username" ng-value="userDetails.username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" ng-model="email" aria-describedby="emailHelp" placeholder="Enter email" ng-value="userDetails.email">
        </div>
        <div class="form-group">
            <label for="roleSelection">Role</label>
            <select class="form-control" ng-options="role as (role.name | capitalize) for role in roles track by role.id" ng-model="selectedRole"></select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="password" placeholder="Enter new password">
        </div>
        <button type="submit" id="custom-user-edit" class="btn btn-primary" style="margin: 25% auto 0 auto; display:block; position: relative; top: 20%; width: 60%;" ng-click="edit(username, email, selectedRole, password)">Update</button>
        <button id="custom-user-edit-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 60%;" ng-click="closeUserEditForm()">Close</button>
    </form>
</div>
<!----------->

<!-- User delete confirmation modal -->
<div id="popupWindow-user-delete" class="popupWindow user-delete">
    <div style="text-align: center; margin-top:5%; margin-bottom: -15%">
        <h3>Are you sure you want to delete?</h3>
    </div>
    <div style="text-align: center; margin-top:20%; margin-bottom: -20%; height: 5%;">
        <h4 style="color:whitesmoke;"><b>{{userDetails.username}}</b></h4>
    </div>
    <button type="submit" id="custom-user-delete" class="btn btn-primary" style="margin: 25% auto 0 auto; display:block; position: relative; top: 20%; width: 60%;" ng-click="delete(userDetails.id)">Yes</button>
    <button id="custom-user-delete-close" class="btn btn-primary" style="margin: 5% auto 0 auto; display:block; position: relative; width: 60%;" ng-click="closeUserDeleteForm()">No</button>
</div>

<!----------->

<!-- Page Content -->
<div class="overlay"></div>
<div class="usersContainer">
    <div class="usersContainerHeader">
        <h1>Users list</h1>
    </div>
    <table class="table table-borderless table-hover" style="table-layout: fixed;">
        <input type="text" ng-model="search" class="form-control input-res" placeholder="Search for an user">
        <thead style="text-align: center;">
            <tr>
                <th ng-click="sort('id')" style="width:10%;">Id
                    <span class="sort-solid" ng-show="sortKey=='id'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th ng-click="sort('username')" style="width:30%;">Name
                    <span class="sort-solid" ng-show="sortKey=='username'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th ng-click="sort('email')" style="width:25%;">Email
                    <span class="sort-solid" ng-show="sortKey=='email'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th ng-click="sort('role[0].name')" style="width:25%;">Role
                    <span class="sort-solid" ng-show="sortKey=='role[0].name'" ng-class="{'sort-down-solid':reverse,'sort-up-solid':!reverse}"></span>
                </th>
                <th style="width:10%" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;" ng-repeat="user in filterData = (users | filter : search | orderBy:sortKey:reverse) | limitTo:10:10*(page-1) |orderBy:sortKey:reverse">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role[0].name | capitalize}}</td>
                <td>
                    <span class="info-square-solid" ng-click="getUserDetails(user.id)"></span>
                    <span class="edit-solid" ng-click="getRoles(); getUserDetails(user.id)"></span>
                    <span class="trash-alt-solid" ng-click="getUserDetails(user.id)"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <ul uib-pagination total-items="filterData.length" ng-model="page" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10 max-size="3" boundary-link-numbers="true" rotate="true" force-ellipses="true"></ul>
    </div>
</div>